/*Custom fonts*/
@font-face {
  font-family: "VAG Rounded";
  src: url(../fonts/VAG-Rounded-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Sukhumvit";
  src: url(../fonts/SukhumvitSet.ttc) format("opentype");
}

/*General styles*/
body {
  width: 100%;
  background-color: #0333FF;
  font-size: 16px;
}

main {
  position: relative;
  top: 160px;
}

.vag {
  font-family: "VAG Rounded";
  text-transform: uppercase;
  color: #FFF;
}

.suk {
  font-family: "Sukhumvit";
  color: #FFF;
  line-height: 1.1;
}

.bold {
  font-weight: bold;
}

.black {
  color: #373737;
}

.title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 2rem;
  margin-top: 45px;
  margin-bottom: 5px;
}

.header {
  font-size: 2rem;
}

.or {
  margin-bottom: 15px;
}

.block {
  margin: 15px;
}

.anchor {
  padding-top: 80px;
}

/*Header styles*/
header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #0333FF;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  height: 80px;
  width: 400px;
  margin: 40px;
}

.logo img {
  height: 80px;
  margin-right: 40px;
  transition: all 0.5s ease;
}

.brand h1 {
  font-size: 28px;
  letter-spacing: 1.6px;
}

h1.brian {
  letter-spacing: 2.3px;
}

.brand p {
  font-size: 16px;
  letter-spacing: 1.6px;
  margin-top: 10px;
}

header a {
  text-decoration: none;
}

/*Sidenav*/

.sidenav {
  transform: rotate(270deg);
  transform-origin: bottom;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
  height: 80px;
  width: 160px;
  position: absolute;
  right: -82px;
}

.sidenav div {
  text-align: left;
  width: 150px;
  padding: 5px;
  transition: all 0.4s ease;
}

.sidenav a {
  text-decoration: none;
}

.sidenav div:hover {
  padding: 20px 5px;
}

.sidenav div:active {
  padding: 14px 5px;
  background-color: white;
  font-size: 15px;
  transition: all 0.1s ease-out;
}

#work {
  background-color: #0333FF;
}

#about {
  background-color: #FF1E53;
}

#contact {
  background-color: #FFD500;
}

/*Portfolio styles*/

#portfolio {
  background-color: #0333FF;
}

.grid {
  display: grid;
  width: 100%;
  height: 1000px;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
}

.box {
  overflow: hidden;
  color: white;
  text-decoration: none;
  text-align: center;
  background-position: center;
  background-size: cover;
}

.box img {
  transition: all 0.5s, transform 0.5s;
  width: 100%;
  opacity: 1;
}

.box img:hover {
  transform: scale(1.2);
  opacity: 0.7;
}

/*Preview styles*/
.photobooth {
  margin-bottom: 20px;
}

.big-image {
  width: 100%;
}

.description {
  margin-bottom: 20px;
}

.description h1 {
  margin-bottom: 10px;
}

.description p {
  margin-bottom: 20px;
}

a.preview {
  padding: 10px 10px 8px 10px;
  border-radius: 25px;
  text-decoration: none;
  background-color: #0333FF;
  margin: 0 260px;
  transition: all 0.4s ease;
  transform-origin: center;
  font-size: 16px;
}

a.preview:hover {
  background-color: #FF1E53;
}

a.preview:active {
  background-color: #0333FF;
  transition: none;
}

/*Resume styles*/
#resume {
  background-color: #FF1E53;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:-80px;
  padding-top:80px;
}

.intro {
  padding: 90px 0 60px;
  display: flex;
}

.intro-text {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.picture {
  height: 200px;
  width: auto;
  border-radius: 100px;
}

.cv {
  width: 850px;
  /*padding-bottom: 90px;*/
}

.block h3 {
  text-decoration: underline;
}

.right {
  text-align: right;
}

/*Contact styles*/
#end {
  height: 80px;
  background-color: #FF1E53;
}

#contact-us {
  background-color: #FFD500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-section {
  padding: 90px 0 180px;
  width: 850px;
}

form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  text-align: left;
}

label.error {
    margin-bottom:1em;
    font-size:1.2rem;
    line-height:1.2rem;
    font-size:12px;
    line-height:12px;
    color:#c0392b
}

input {
  width: 600px;
  height: 20px;
  margin: 20px;
}

form input[type="text"], form textarea {
    font-family:"Inconsolata", sans-serif;
    font-size:1.4rem;
    line-height:1.4rem;
    font-size:14px;
    line-height:14px;
}
form input[type="text"]:focus, form textarea:focus {
    border-color:#191919;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none
}
form input[type="text"][disabled], form textarea[disabled] {
    background:#fff
}
form input[type="text"].error, form textarea.error {
    background:#e6e6e6;
    border-color:#c0392b
}
fieldset {
    border:0px;
    margin:0;
    padding:0
}
.required {
    color:#e9266d
}
#success, #error {
    display:none
}
#success span, #erro span {
    display:block;
    position:absolute;
    top:0;
    width:100%
}
#success span p, #error span p {
    margin-top:6em
}
#success span p {
  color:#9bd32d;
}
#error span p {
  color:#c0392b;
}

.message-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

label#message {
  margin-top: 20px;
}

textarea#message {
  width: 570px;
  height: 90px;
  margin: 20px;
}

.button {
  width: 50px;
}

/*Footer styles*/
footer {
  position: absolute;
  background-color: #373737;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*Jquery modal styles*/
.modal {
  margin-top: 50px;
  min-width: 700px;
  display: flex;
}
