/*Custom fonts*/
@font-face {
  font-family: "VAG Rounded";
  src: url(../fonts/VAG-rounded-bold.ttf) format("truetype");
}

@font-face {
  font-family: "Sukhumvit";
  src: url(../fonts/SukhumvitSet.ttc) format("opentype");
}

/*General styles*/
body {
  width: 100%;
  background-color: #0333FF;
  font-size: 16px;
}

main {
  position: relative;
  top: 160px;
}

.vag {
  font-family: "VAG Rounded";
  text-transform: uppercase;
  color: #FFF;
}

.suk {
  font-family: "Sukhumvit";
  color: #FFF;
  line-height: 1.1;
}

.bold {
  font-weight: bold;
}

.title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 2rem;
  margin-top: 45px;
  margin-bottom: 5px;
}

.or {
  margin-bottom: 15px;
}

.block {
  margin: 15px;
}

/*Header styles*/
header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #0333FF;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  height: 80px;
  width: 400px;
  margin: 40px;
}

.logo img {
  height: 80px;
  margin-right: 40px;
  transition: all 0.5s ease;
}

.brand h1 {
  font-size: 28px;
  letter-spacing: 1.6px;
}

h1.brian {
  letter-spacing: 2.3px;
}

.brand p {
  font-size: 16px;
  letter-spacing: 1.6px;
  margin-top: 10px;
}

header a {
  text-decoration: none;
}

/*Sidenav*/

.sidenav {
  transform: rotate(270deg);
  transform-origin: bottom;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
  height: 80px;
  width: 160px;
  position: absolute;
  right: -82px;
}

.sidenav div {
  text-align: center;
  width: 150px;
  padding: 5px;
  transition: all 0.4s ease;
}

.sidenav a {
  text-decoration: none;
}

.sidenav div:hover {
  padding: 20px 5px;
}

.sidenav div:active {
  padding: 14px 5px;
  background-color: white;
  font-size: 15px;
  transition: all 0.1s ease-out;
}

#work {
  background-color: #0333FF;
}

#about {
  background-color: #FF1E53;
}

#contact {
  background-color: #FFD500;
}

/*Portfolio styles*/
#portfolio {
  background-color: #0333FF;
}

.grid {
  display: grid;
  width: 100%;
  height: 1000px;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px green solid;
}

/*Resume styles*/
#resume {
  background-color: #FF1E53;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:-80px;
  padding-top:80px;
}

.intro {
  padding: 90px 0 60px;
  display: flex;
}

.intro-text {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.picture {
  height: 200px;
  width: auto;
  border-radius: 100px;
}

.cv {
  width: 850px;
  padding-bottom: 90px;
}

.block h3 {
  text-decoration: underline;
}

.right {
  text-align: right;
}

/*Contact styles*/
#contact-us {
  background-color: #FFD500;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:-80px;
  padding-top:80px;
}

.form-section {
  margin-top: 90px;
  width: 850px;
  height: 1000px;
}

form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  text-align: left;
}

input {
  width: 600px;
  height: 20px;
  margin: 20px;
}

.message-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

label#message {
  margin-top: 20px;
}

textarea#message {
  width: 570px;
  height: 90px;
  margin: 20px;
}

.button {
  width: 50px;
}

/*Footer styles*/
footer {
  background-color: #373737;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
